- content_for :use_full_container, true

.page-header
  - if @user.present?
    %h3
      %span.glyphicon.glyphicon-folder-close
      = title [@user.username, 'Collections'], 'Collections'
      %small= @collections.size
  - else
    %h2= title 'Recent collections'

= render partial: 'list', locals: { collections: @collections, should_apply_purity_settings: @should_apply_purity_settings }
