.page-header
  %h2= title 'Forums'

.row
  .col-lg-9
    @TODO
  .col-lg-3
    .list-group
      - @forums.each do |forum|
        = link_to forum, class: 'list-group-item', style: css_styles_for_forum(forum) do
          = forum.name
