%div{:v => {:component => 'wallpaper-index', :cloak => true},
    :endpoint => local_assigns[:endpoint],
    :options => local_assigns[:search_options].try(:to_json),
    :data => local_assigns[:data]}

  = render partial: 'components/wallpaper_search'

  %section.wallpaperPages{:v => {:class => 'is-resetting: wallpaperPagesWillReset'}}
    %article{:v => {:component => 'wallpaper-list',
        :repeat => 'wallpaperPages'}}
      .wallpaperList--pageSeparator{:v => {:if => '$index > 0'}}
        %a.pull-left{:v => {:attr => 'href: generatePageHref(paging.current_page)'}}
          %small.text-muted Page
          {{paging.current_page}}
        %a.pull-right{:href => '#'}
          %i.fa.fa-fw.fa-chevron-up

      %ul.wallpaperList{:v => {:show => 'wallpapers.length'}}
        %li{:v => {:repeat => 'wallpapers',
              :component => 'wallpaper',
              :on => 'dragstart: onDragStart, dragend: onDragEnd'},
            :class => 'purity-{{purity}}',
            :draggable => 'true'}
          %a{:v => {:attr => 'target: linkTarget'},
              :href => '{{url}}'}
            %img.wallpaperThumbnail{:alt => 'Wallpaper #{{id}}',
              :class => 'is-{{purity}}',
              :v => {:attr => 'src: image.thumbnail.url, width: image.thumbnail.width, height: image.thumbnail.height'}}
          .wallpaperList--overlay.wallpaperList--overlayBottom
            %strong {{image.original.width}}&times;{{image.original.height}}
            %a.btn.btn-sm.btn--fav.pull-left{:href => '#',
                :v => {:class => 'is-faved: favourited, disabled: isToggling',
                  :on => 'click: toggleFavourite'}}
              %i.fa.fa-fw{:v => {:class => 'fa-star: !isToggling, fa-refresh: isToggling, fa-spin: isToggling'}}
              %span.count {{favourites_count}}
            .btn.btn-sm.pull-right
              %i.fa.fa-fw.fa-eye
              {{views_count}}

      %div{:v => {:show => 'wallpapers.length === 0'}}
        %h2.text-center No search results found :(

    %div{:v => {:show => 'isLoading'}}
      .loading-spinner

  %ul.pager{:v => {:if => 'previousPage || nextPage',
        :component => 'pagination',
        :ref => 'pagination'}}
    %li
      /-# FIXME href link
      %a{:v => {:show => 'previousPage', :attr => 'href: generatePageHref(previousPage)'}}
        &larr; Previous
      %a{:v => {:show => 'nextPage', :attr => 'href: generatePageHref(nextPage)'}}
        Next &rarr;
