%div.wallpaperSearch{:v => {:component => 'wallpaper-search', :with => 'search: search'}}
  {{search.purities}}
  {{search.facets.tags}}
  {{toQueryString}}
  %ul.list-inline
    %li.wallpaperSearch--order
      %select.form-control{:v => {:model => 'search.order'}}
        %option{:v => {:repeat => 'orderMappings',
              :attr => 'value: $key'}}
          Sort by {{$value}}

    %li.wallpaperSearch--purity
      .btn-group.btn-group--purity
        %a.btn.btn--purity{:href => '#',
            :class => 'is-{{$key}}',
            :v => {:repeat => 'purityMappings',
              :class => 'is-active: search.purities.indexOf($key) !== -1',
              :on => 'click: togglePurity($key, $event)'}}
          {{$value}}

  .row
    .wallpaperSearch--tags.col-md-8
      .row
        .col-xs-12
          %h5 Tags
        .col-lg-3.col-md.4.col-xs-6.wallpaperSearch--tagColumn{:v => {:repeat => 'search.facets.tags'}}
          .btn-group
            %a.btn.btn-xs.btn--tagInfo{:href => '/tags/{{id}}'}
              %i.fa.fa-fw.fa-tag
            %a.btn.btn-xs.btn--tag{:href => '#',
                :v => {:on => 'click: toggleTagInclusion($index, $event)',
                  :class => 'is-active: included'}}
              {{name}}
              %span{:v => {:if => '!included'}} ({{count}})

    .wallpaperSearch--categories.col-md-4
      categories here
