%div.wallpaperSearch{:v => {:component => 'wallpaper-search', :with => 'search: search'}}
  {{search.purities}}
  .row
    .col-md-6
      .dropdown
        %button.btn.btn-default.dropdown-toggle{:type => 'button', :data => {:toggle => 'dropdown'}}
          {{currentOrder}}
        %ul.dropdown-menu
          %li{:v => {:repeat => 'orderMappings', :show => '$key !== search.order'}}
            %a{:href => '#', :tabindex => -1, :v => {:on => 'click: changeOrder($key, $event)'}} {{$value}}

      .btn-group.btn-group--purity
        %button.btn.btn--purity{:class => 'is-{{$key}}',
            :v => {:repeat => 'purityMappings',
              :class => 'is-active: search.purities.indexOf($key) !== -1',
              :on => 'click: togglePurity($key, $event)'}}
          {{$value}}
