%div.wallpaperSearch{:v => {:component => 'wallpaper-search', :with => 'search: search'}}
  {{search.purities}}
  %ul.list-inline
    %li
      .dropdown
        %button.btn.btn-default.dropdown-toggle{:type => 'button', :data => {:toggle => 'dropdown'}}
          {{currentOrder}}
        %ul.dropdown-menu
          %li{:v => {:repeat => 'orderMappings', :show => '$key !== search.order'}}
            %a{:href => '#', :tabindex => -1, :v => {:on => 'click: changeOrder($key, $event)'}} {{$value}}

    %li
      .btn-group.btn-group--purity
        %a.btn.btn--purity{:href => '#',
            :class => 'is-{{$key}}',
            :v => {:repeat => 'purityMappings',
              :class => 'is-active: search.purities.indexOf($key) !== -1',
              :on => 'click: togglePurity($key, $event)'}}
          {{$value}}

  .row

