%div.wallpaperSearch{:v => {:component => 'wallpaper-search', :with => 'search: search'}}
  {{search.purities}}
  {{search.facets.tags}}
  {{toQueryString}}
  %ul.list-inline
    %li.wallpaperSearch--order
      .dropdown
        %button.btn.btn-default.dropdown-toggle{:type => 'button', :data => {:toggle => 'dropdown'}}
          {{currentOrder}}
        %ul.dropdown-menu
          %li{:v => {:repeat => 'orderMappings', :show => '$key !== search.order'}}
            %a{:href => '#', :tabindex => -1, :v => {:on => 'click: changeOrder($key, $event)'}} {{$value}}

    %li.wallpaperSearch--purity
      .btn-group.btn-group--purity
        %a.btn.btn--purity{:href => '#',
            :class => 'is-{{$key}}',
            :v => {:repeat => 'purityMappings',
              :class => 'is-active: search.purities.indexOf($key) !== -1',
              :on => 'click: togglePurity($key, $event)'}}
          {{$value}}

  .row
    .wallpaperSearch--tags.col-md-8
      %ul.list-unstyled
        %li{:v => {:repeat => 'search.facets.tags',
              :class => 'is-included: included, is-excluded: excluded'}}
          %a{:href => '#', :v => {:on => 'click: toggleTagInclusion($index, $event)'}}
            {{term}}
            %span{:v => {:if => '!included'}} ({{count}})

    .wallpaperSearch--categories.col-md-4
      categories here
