%div.wallpaper-list-container{:v => {:component => 'wallpaper-list', :cloak => true},
    :endpoint => local_assigns[:endpoint],
    :options => local_assigns[:search_options].try(:to_json),
    :data => local_assigns[:data]}
  %div{:v => {:show => 'isLoading'}}
    .loading-spinner

  %div{:v => {:show => '!isLoading'}}
    .page-separator{:v => {:if => '!isFirst'}}
      %a.pull-left{:v => {:attr => 'href: paging.self', :text => 'paging.current_page'}}
      %a.pull-right{:href => '#'}
        %span.fa.fa-chevron-up

    %ul.list-wallpaper{:v => {:show => 'wallpapers.length'}}
      %li{:v => {:repeat => 'wallpapers',
            :component => 'wallpaper',
            :on => 'dragstart: onDragStart, dragend: onDragEnd'},
          :class => 'purity-{{purity}}',
          :draggable => 'true'}
        %a{:v => {:attr => 'target: linkTarget'},
            :href => '{{url}}'}
          %img.img-wallpaper{:v => {:attr => 'src: image.thumbnail.url, width: image.thumbnail.width, height: image.thumbnail.height'},
            :alt => 'Wallpaper #{{id}}'}
        .overlay.overlay-bottom
          %strong {{image.original.width}}&times;{{image.original.height}}
          %a.btn.btn-sm.btn-fav.pull-left{:href => '#',
              :v => {:class => 'faved: favourited, disabled: isToggling',
                :on => 'click: toggleFavourite'}}
            %span.fa.fa-star
            %span.count {{favourites_count}}
          .btn.btn-sm.pull-right
            %span.fa.fa-eye
            {{views_count}}

    %ul.pager{:v => {:show => 'paging.previous || paging.next'}}
      %li
        %a{:v => {:show => 'paging.previous', :attr => 'href: paging.previous'}}
          &larr; Previous
        %a{:v => {:show => 'paging.next', :attr => 'href: paging.next'}}
          Next &rarr;

    %div{:v => {:show => 'wallpapers.length === 0'}}
      %h2.text-center No search results found :(


-# TODO create a new partial for this component
%div.collectionsOverlay{:v => {:component => 'collections-overlay',
    :cloak => true,
    :show => 'isVisible'}}
  .collectionsOverlay-content
    .loader{:v => {:if => 'isLoading'}}

    %div.container{:v => {:show => 'isCollectionsLoaded'}}
      %ul.collectionList.collectionList--compact
        %li.collectionList-createNew{:v => {:component => 'collection',
              :on => 'dragenter: onDragEnter, dragleave: onDragLeave, dragover: onDragOver, drop: onDropNewCollection',
              :class => 'is-draggedOver: isDraggedOver'}}
          .collectionList-previewOverlay.collectionList-previewOverlay--plus{:v => {:if => '!isInCollection'}}
            %span.fa.fa-plus
          New Collection
        %li{:v => {:repeat => 'collections | orderBy position',
              :component => 'collection',
              :ref => 'collections',
              :on => 'dragenter: onDragEnter, dragleave: onDragLeave, dragover: onDragOver, drop: onDrop',
              :class => 'is-draggedOver: isDraggedOver, is-collected: isInCollection'}}
          .collectionList-wallpapersCount{:v => {:if => 'wallpapers_count > 0'}}
            %span.fa.fa-picture-o
            {{wallpapers_count}}

          .collectionList-previewOverlay.collectionList-previewOverlay--added{:v => {:if => 'isInCollection'}}
            %span.fa.fa-check
          .collectionList-previewOverlay.collectionList-previewOverlay--plus{:v => {:if => '!isInCollection'}}
            %span.fa.fa-plus

          .collectionList-preview{:v => {:if => 'preview'}}
            %img.wallpaperThumbnail.wallpaperThumbnail--halved{:class => 'is-{{preview.purity}}',
              :v => {:attr => 'src: preview.url, width: preview.width, height: preview.height'}}
          .collectionList-preview.collectionList-preview--centeredText.text-muted{:v => {:if => '!preview'}}
            %em Empty

          %h6.collectionList-name
            {{name}}
            %span.label.label-danger{:v => {:if => '!this.public'}}
              Private

  .collectionsOverlay-backdrop
