- if wallpapers.has_pagination? && request.xhr?
  - if respond_to?(:compact_search_options)
    - current_page_params = compact_search_options.merge(page: wallpapers.current_page).reject { |_,v| v.blank? }
  - else
    - current_page_params = { page: wallpapers.current_page }

  .horizontal-page-bar
    %h3
      .pull-left= link_to wallpapers.current_page, url_for(current_page_params)
      .pull-right
        %a{:href => '#'}
          = fa_icon_tag('chevron-up')

%div{:v => {:component => 'wallpaper-list', :cloak => true}, :options => search_options.to_json}
  %div{:v => {:show => 'isLoading'}}
    .loading-spinner

  %div{:v => {:show => '!isLoading'}}
    %ul.list-wallpaper{:v => {:show => 'wallpapers.length'}}
      %li{:v => {:repeat => 'wallpapers'}, :class => 'purity-{{purity}}'}
        %a{:href => '{{url}}'}
          %img.img-wallpaper{:v => {:attr => 'src: image.thumbnail.url, width: image.thumbnail.width, height: image.thumbnail.height'},
            :alt => 'Wallpaper #{{id}}'}
        .overlay.overlay-bottom
          %strong {{image.original.width}}&times;{{image.original.height}}
          %a.btn.btn-sm.btn-fav.pull-left{:href => '#', :v => {:class => 'faved: favourited, disabled: isToggling',
                                                               :on => 'click: toggleFavourite(this, $event)'}}
            %span.fa.fa-star
            %span.count {{favourites_count}}
          .btn.btn-sm.pull-right
            %span.fa.fa-eye
            {{views_count}}

    %div{:v => {:show => 'wallpapers.length === 0'}}
      %br/
      %br/
      %h2.text-center No search results found :(
