.row
  .col-lg-6.col-lg-offset-3
    .page-header
      %h1= title 'Editing wallpaper'

    - if @wallpaper.image.present?
      .well.text-center= @wallpaper.thumbnail_image_tag

    = render 'form'

    %hr/

    = link_to 'Cancel', @wallpaper, class: 'btn btn-link'
