- content_for :use_full_container, true

= render partial: 'components/wallpaper_index', locals: { initial_wallpapers_in_json: @initial_wallpapers_in_json }
= render partial: 'components/collections_overlay'
