- options = {}
- options[:class] = ['list-group-item']
- options[:class] << 'unread' unless notification.read?
- options[:data] = { notification_id: notification.id }

- if notification.notifiable_type.present?
  = link_to notification.to_actual_model, options do
    %small.pull-right= time_ago_tag notification.created_at
    %div{:data => {:provide => 'wgtext'}}= notification.message
- else
  = content_tag :div, options do
    %small.pull-right= time_ago_tag notification.created_at
    %div{:data => {:provide => 'wgtext'}}= notification.message
