- css_classes = ['list-group-item']
- css_classes << 'list-group-item-info' unless notification.read?

= link_to notification.to_actual_model, class: css_classes, target: '_blank' do
  %small.pull-right= time_ago_tag notification.created_at
  = notification.message
