- options = {}
- options[:class] = ['list-group-item']
- options[:class] << 'unread' unless notification.read?
- options[:data] = { mark_read_url: mark_as_read_notification_path(notification) } unless notification.read?

= link_to notification.to_actual_model, options do
  %small.pull-right= time_ago_tag notification.created_at
  %div{:data => {:provide => 'wgtext'}}= notification.message
