- options = {}
- options[:class] = ['list-group-item']
- options[:class] << 'unread' unless notification.read?

- if !notification.read? || notification.notifiable_type.present?
  = link_to notification, options do
    %small.pull-right= time_ago_tag notification.created_at
    %div{:data => {:provide => 'wgtext'}}= notification.message
- else
  = content_tag :div, options do
    %small.pull-right= time_ago_tag notification.created_at
    %div{:data => {:provide => 'wgtext'}}= notification.message
