ul.collectionList {
  @extend .list-unstyled;
  @extend .clearfix;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  text-align: center;
  &.row-1 {
    height: 374px;
  }
  & > li {
    width: 250px;
    height: 354px;
    margin: 10px;
    float: left;
    position: relative;
    text-align: left;
    @include transition(all 0.1s ease-in);
    background-color: white;
    .row-collection {
      margin-top: 5px;
      margin-left: -5px;
      @extend .clearfix;
      img, .placeholder {
        float: left;
        margin-left: 5px;
        width: 80px;
        height: 80px;
      }
      .placeholder {
        background-color: darken($body-bg, 5%);
      }
    }
    .media-object {
      height: 273px;
    }
    .media-body {
      padding: 10px;
    }
    .media-heading {
      height: 35px;
    }
    a {
      text-decoration: none;
      white-space: nowrap;
    }
    .list-inline {
      font-size: smaller;
      li {
        padding-right: 0;
      }
    }
  }
  & > li:hover {
    @include box-shadow(#666 0px 0px 5px);
  }
}

// Compact collection list
ul.collectionList--compact {
  // List item
  & > li {
    width: $width-compact--collectionListItem;
    height: $height-compact--collectionListItem;
  }

  // Create new wallpaper
  .collectionList-createNew {
    height: $height-compact--collectionListItem;
    line-height: $height-compact--collectionListItem;
    text-align: center;
  }

  // Wallpapers count
  .collectionList-wallpapersCount {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 4px;
  }

  // Preview overlay
  .collectionList-previewOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.1s ease-in;
    text-align: center;
    line-height: 120px;
    font-size: $fontSize--collectionListItem-previewOverlayIcon;
  }

  .collectionList-previewOverlay--added {
    color: $color-green;
  }

  .collectionList-previewOverlay--plus {
    color: $color-silver;
    opacity: 0;
  }
  .is-draggedOver .collectionList-previewOverlay--plus {
    opacity: 1;
  }

  // Preview area
  .collectionList-preview--centeredText {
    text-align: center;
    line-height: $height-halfWallpaperThumbnail;
  }

  // Collection name
  .collectionList-name {
    margin: 0;
    padding: 4px 6px;
    height: $height-compact--collectionListItem-meta;
    line-height: $height-compact--collectionListItem-meta - 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
