.wallpaperThumbnail {
  width: $width-wallpaperThumbnail;
  height: $height-wallpaperThumbnail;
}

.wallpaperThumbnail--halved {
  width: $width-halfWallpaperThumbnail;
  height: $height-halfWallpaperThumbnail;
}