/* Colors */
$brand-primary: #2a9fd6;
$brand-success: #77b300;
$brand-warning: #ff8800;
$brand-danger: #cc0000;
$brand-info: #9933cc;

/* Scaffolding */
$body-bg: #1a1a1a;
$text-color: #fff;
$link-color: #808080;

/* Typography */
$font-family-sans-serif: "Open Sans", sans-serif;

/* Components */
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

/* Grid system */
$grid-gutter-width: 20px;

/* Selection */
$selection-bg: #808080;
$selection-text-color: $text-color;

/* Scrollbar */
$scrollbar-width: 13px;

/* Wallpaper thumbnail */
$wallpaper-thumbnail-width: 250px;
$wallpaper-thumbnail-height: 188px;

$wallpaper-thumbnail-box-shadow: #000 0px 0px 5px;
$wallpaper-thumbnail-hover-box-shadow: #000 0px 0px 15px;

$wallpaper-thumbnail-purity-border-width: 2px;

$wallpaper-thumbnail-overlay-height: 30px;
$wallpaper-thumbnail-overlay-bg: rgba(0, 0, 0, 0.75);

$wallpaper-thumbnail-btn-fav-active-bg-color: rgba($brand-primary, 0.5);

/* Purity colors */
$purity-sfw: $brand-success;
$purity-sketchy: $brand-warning;
$purity-nsfw: $brand-danger;
