/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require selectize.bootstrap3
 *= require bootstrap-markdown.min
 *= require_self
 */

/* Web Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* Wallgig Variables */
@import "variables";

/* CSS Frameworks */
@import "bootstrap";
@import "bourbon";

/* Components */
@import "ladda";
@import "flags";
@import "font-awesome";

/* Selection */
::selection {
  background-color: $selection-bg;
  color: $selection-text-color;
}

/* Scrollbar (for Webkit browsers) */
::-webkit-scrollbar {
  width: $scrollbar-width;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 0px;
  display: block;
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: $body-bg;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #3f3f3f;
}

a {
  cursor: pointer;
}

// Set font-awesome's icons to fixed-width
span.fa {
  @extend .fa-fw;
}

// Utilities
// ---------

.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.no-top-margin {
  margin-top: 0;
}
.no-bottom-margin {
  margin-bottom: 0;
}

// Heading
// -------

.page-subheader {
  margin-bottom: 20px;
}

// Navbar
// ------

// Current user
.dropdown.current-user {
  // Accommodate 25x25 avatar
  .dropdown-toggle {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .link-user {
    font-size: larger;
  }
}

// User notifications
// ------------------
.dropdown.user-notifications {
  .view-all {
    text-align: center;
  }
}

// Panel
// -----

.panel-transparent {
  &, .panel-body {
    border: none;
  }
  background: none;
}

.panel-body {
  border-bottom: 1px solid $panel-default-border;
}
.panel-body:last-child {
  border-bottom: none;
}

// Content
// -------
.header-content {
  background-color: lighten($body-bg, 10%);
  padding: 40px 0;
}

#main {
  padding: 20px 0;
}

@import "header_cover";

@import "categories";
@import "collections";
@import "comments";
@import "groups";
@import "notifications";
@import "subscriptions";
@import "users";
@import "utilities";
@import "wallpapers";
