.list-collection {
  @extend .list-unstyled;
  @extend .clearfix;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  text-align: center;
  &.row-1 {
    height: 374px;
  }
  & > li {
    width: 250px;
    height: 354px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    text-align: left;
    @include transition(all 0.1s ease-in);
    background-color: white;
    .row-collection {
      margin-top: 5px;
      margin-left: -5px;
      @extend .clearfix;
      img, .placeholder {
        float: left;
        margin-left: 5px;
        width: 80px;
        height: 80px;
      }
      .placeholder {
        background-color: darken($body-bg, 5%);
      }
    }
    .media-object {
      height: 273px;
    }
    .media-body {
      padding: 10px;
    }
    .media-heading {
      height: 35px;
    }
    a {
      text-decoration: none;
    }
  }
  & > li:hover {
    @include box-shadow(#666 0px 0px 5px);
    .overlay {
    }
    .overlay-bottom {
      bottom: 0;
    }
    .overlay-left, .overlay-right {
      opacity: 1;
    }
  }
  .purity-sfw {
  }
  .purity-sketchy {
    border: 3px solid #fda500;
  }
  .purity-nsfw {
    border: 3px solid #bf0600;
  }
}