$developer-color: #25BA29;
$admin-color: #E66262;
$moderator-color: #DC8C3D;

.user-developer {
  color: $developer-color;
}
.user-developer:hover {
  color: darken($developer-color, 10%);
  text-decoration: none;
}

.user-admin {
  color: $admin-color;
}
.user-admin:hover {
  color: darken($admin-color, 10%);
  text-decoration: none;
}

.user-moderator {
  color: $moderator-color;
}
.user-moderator:hover {
  color: darken($moderator-color, 10%);
  text-decoration: none;
}

.user-profile-header {
  z-index: 10;
  @extend .header-media-cover;
  &, & .header-media-cover {
    height: 350px;
  }
  &.affix, &.affix .header-media-cover {
    height: 82px;
  }
  .header-media-cover.affix {
    position: fixed;
    left: 0;
    right: 0;
    top: -218px;
  }
  .media-heading.username {
    text-shadow: 1px 1px 4px #000;
  }
}

.link-user, .link-user:hover {
  text-decoration: none;
}

.icon-user-online {
  font-size: 80%;
  color: $brand-danger;
}
