// Colors (from http://clrs.cc/)

// Cool
$color-aqua:  #7FDBFF;
$color-blue:  #0074D9;
$color-navy:  #001F3F;
$color-teal:  #39CCCC;
$color-green: #2ECC40;
$color-olive: #3D9970;
$color-lime:  #01FF70;

// Warm
$color-yellow:  #FFDC00;
$color-orange:  #FF851B;
$color-red:     #FF4136;
$color-fuchsia: #F012BE;
$color-purple:  #B10DC9;
$color-maroon:  #85144B;

// Gray Scale
$color-white:  #fff;
$color-silver: #ddd;
$color-gray:   #aaa;
$color-black:  #111;


// Wallpaper thumbnail sizes
$width-wallpaperThumbnail: 250px;
$height-wallpaperThumbnail: 188px;

$width-halfWallpaperThumbnail: $width-wallpaperThumbnail / 2;
$height-halfWallpaperThumbnail: $height-wallpaperThumbnail / 2;


// Collections
$width-compact--collectionListItem-meta: $width-halfWallpaperThumbnail;
$height-compact--collectionListItem-meta: 32px;

$width-compact--collectionListItem: $width-halfWallpaperThumbnail;
$height-compact--collectionListItem: $height-halfWallpaperThumbnail + $height-compact--collectionListItem-meta;

$fontSize--collectionListItem-previewOverlayIcon: 40px;


// Purities
$color-sfw: $color-green;
$color-sketchy: $color-orange;
$color-nsfw: $color-red;

// Purities - Active state
$color-sfw--active: $color-white;
$color-sketchy--active: $color-white;
$color-nsfw--active: $color-white;
$bgColor-sfw--active: $color-sfw;
$bgColor-sketchy--active: $color-sketchy;
$bgColor-nsfw--active: $color-nsfw;
