// Wallpaper thumbnail sizes
$width-wallpaperThumbnail: 250px;
$height-wallpaperThumbnail: 188px;

$width-halfWallpaperThumbnail: $width-wallpaperThumbnail / 2;
$height-halfWallpaperThumbnail: $height-wallpaperThumbnail / 2;


// Collections
$width-compact--collectionListItemMeta: $width-halfWallpaperThumbnail;
$height-compact--collectionListItemMeta: 40px;
$width-compact--collectionListItem: $width-halfWallpaperThumbnail;
$height-compact--collectionListItem: $height-halfWallpaperThumbnail + $height-compact--collectionListItemMeta;
