$wallpaper-sidebar-width: 320px;

.wallpaper-show-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.has-navbar {
    top: 50px;
  }

  /* Large buttons */
  .toggle-sidebar-btn, .close-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
  }

  .close-btn {
    padding: 10px;
    font-size: 20px;
    color: $text-color;
  }

  .wallpaper-stage:hover .toggle-sidebar-btn {
    opacity: 1;
  }
  .toggle-sidebar-btn {
    @include transition(all 0.1s ease-in);
    opacity: 0;
    color: #333333 !important;
    padding: 20px;
    &:hover {
      color: $text-color;
    }
    .glyphicon.glyphicon-resize-full {
      display: none;
    }
    .glyphicon.glyphicon-resize-small {
      display: block;
    }
  }
  &.has-sidebar {
    .toggle-sidebar-btn {
      .glyphicon.glyphicon-resize-full {
        display: block;
      }
      .glyphicon.glyphicon-resize-small {
        display: none;
      }
    }
  }

  /* Comments */
  textarea#comment_comment {
    font-size: 13px;
  }
  .list-comment {
    li {
      margin-bottom: 10px;
      .show-when-hover {
        opacity: 0;
        @include transition(opacity 0.1s ease-in);
      }
      &:hover .show-when-hover {
        opacity: 1;
      }
    }
  }
}


.wallpaper-show-container.has-sidebar .wallpaper-stage {
  right: $wallpaper-sidebar-width;
}
.wallpaper-stage {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .img-wallpaper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 95%;
    max-width: 95%;
    margin: auto;
//    height: auto;
    width: auto;
  }
}

.wallpaper-show-container.has-sidebar .wallpaper-sidebar {
  display: block;
}
.wallpaper-sidebar {
  display: none;
  width: $wallpaper-sidebar-width;
  margin-left: auto;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

// .wallpapers.show {
//   #main > .container {
//     @extend .container-full;
//   }
// }


.list-facet {
  @extend .list-unstyled;
}
.list-facet-tags {
  @extend .clearfix;
  .btn-group {
    margin-right: 4px;
  }
  li {
    float: left;
    width: 200px;
  }
}

.list-tag {
  @extend .list-unstyled;
  margin-bottom: 0;
}

.list-metadata {
  @extend .list-unstyled;
  margin: 0;
  font-size: $font-size-small;
  li {
    text-align: right;
    strong {
      float: left;
    }
  }
}

.faceted_colors {
  .color-square {
    display: inline-block;
    width: 16px;
    height: 16px;
  }
}

.btn-group-purity {
}
.purity-sfw, .btn-sfw {
  color: $text-color;
  &:hover {
    color: lighten($text-color, 10%);
  }
}
.purity-sketchy, .btn-sketchy {
  color: $btn-warning-bg;
  &:hover {
    color: darken($btn-warning-bg, 10%);
  }
}
.purity-nsfw, .btn-nsfw {
  color: $btn-danger-bg;
  &:hover {
    color: darken($btn-danger-bg, 10%);
  }
}
.btn-sfw {
  &.btn-active {
    @extend .btn-success;
  }
}
.btn-sketchy {
  &.btn-active {
    @extend .btn-warning;
  }
}
.btn-nsfw {
  &.btn-active {
    @extend .btn-danger;
  }
}
a.purity-sfw, a.purity-sketchy, a.purity-nsfw {
  &, &:hover {
    text-decoration: none;
  }
}

.btn-favourite {
  @extend .btn-default;
  &.favourited {
    @extend .btn-primary;
  }
}

.btn-collect {
  @extend .btn-default;
}

.img-wallpaper {
  // @include box-shadow(#666 0px 0px 5px);
  @include transition(all 0.1s ease-in);

  // &.state-1 {
  //   cursor: -webkit-zoom-in;  cursor: zoom-in;
  //   @extend .img-responsive;
  // }

  // &.state-2 {
  //   cursor: -webkit-zoom-out;  cursor: zoom-out;
  // }
}

.form-group.favourite_collection {
  margin-bottom: 0;
}

.lazy {
  opacity: 0;
  @include transition(opacity 0.2s ease-in);
  &.lazy-show {
    opacity: 1;
  }
}

.horizontal-page-bar {
  @include clearfix;
  a {
    text-decoration: none;
  }
}

/* Faceted search */
.btn-group-tag {
  width: 100%;
  .btn-link {
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}