= simple_form_for([@reportable, @report]) do |f|

  .form-inputs
    - if @report.available_reasons.any?
      = f.input :reasons, as: :check_boxes, collection: @report.available_reasons, label: 'Reason(s)'

    = f.input :description, label: 'Notes for moderators'

  .form-actions
    = f.button :submit, class: 'btn btn-danger'
