- content_for :content do
  .row
    .col-lg-9
      = yield
    .col-lg-3
      %h3 Forums
      .list-group
        - @forums.each do |forum|
          = link_to forum, class: 'list-group-item', style: css_styles_for_forum(forum) do
            = forum.name

= render template: 'layouts/application'
